
*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #FEF5E7 ;
    padding:0;
    margin:0;
    font-family: sans-serif;

}
.head{
    display: inline-block;
    width:100%;
    background:#D9936A ;
    text-align: center;
    opacity: 90%;
}
.head h1{
    font-weight:100;/*for changing font weight of header*/
    font-size: 40px;/*for changing font size*/
}
.nav{
    width: 98.7vw;
    height: 7vh;
    background: #60BF9C;
}
.nav div{
    float: left;
    width: 33.33%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav div a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav div:hover{
    background: #D9936A;
    font-weight: bolder;
}

.everest img{
    padding: 0%;
    margin: 0%;
    width: 20%;
    position: relative;
    left:70px;
    bottom: -440px;
    border-radius: 15px;
}
.mustang img{
    padding: 0%;
    margin: 0%;
    position: relative;
    left:385px;
    bottom: -256px;
    border-radius: 15px;}
.phoksundo img{
    padding: 0%;
    margin: 0%;
    position: relative;
    left:697px;
    bottom: -72px;
    border-radius: 15px;}
.annapurna img{
    padding: 0%;
    margin: 0%;
    position: relative;
    left:1010px;
    bottom: 110px;
    border-radius: 15px;}
.poonhill img{
    padding: 0%;
    margin: 0%;
    position: relative;
    left:70px;
    bottom: 70px;
    border-radius: 15px;
}
.khaptad img{
    padding: 0%;
    margin: 0%;
    position: relative;
    left:385px;
    bottom: 255px;
    border-radius: 15px;
}
.pachpokhari img{
    padding: 0%;
    margin: 0%;
    position: relative;
    left:697px;
    bottom: 440px;
    border-radius: 15px;}
.rara img{
    padding: 0%;
    margin: 0%;
    position: relative;
    left:1010px;
    bottom: 625px;
    border-radius: 20px;}
.everesttext{
    padding: 10px;
    padding-left: 73px;
    padding-right: 82px;
    margin: 0%;
    position: relative;
    left:70px;
    bottom:900px;
    background-color: green; 
}
.mustangtext{
    padding: 10px;
    padding-left: 88px;
    padding-right: 91px;
    margin: 0%;
    position: relative;
    left:110px;
    bottom: 900px;
    background-color: green; 
}
.phoksundotext{
    padding: 10px;
    padding-left: 50px;
    padding-right: 40px;
    margin: 0%;
    position: relative;
    left:147px;
    bottom: 900px;
    background-color: green; 
}
.annapurnatext{
    padding: 10px;
    padding-left: 79px;
    padding-right: 72px;
    margin: 0%;
    position: relative;
    left:185.5px;
    bottom: 900px;
    background-color: green; 
}
.poonhilltext{
    padding: 10px;
    padding-left: 92px;
    padding-right: 92px;
    margin: 0%;
    position: relative;
    left:70px;
    bottom:700px;
    background-color: green; 
}
.khaptadtext{
    padding: 10px;
    padding-left: 91px;
    padding-right: 91px;
    margin: 0%;
    position: relative;
    left:111px;
    bottom: 705px;
    background-color: green; 
}
.pachpokharitext{
    padding: 10px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 0%;
    position: relative;
    left:147px;
    bottom: 705px;
    background-color: green; 
}
.raratext{
    padding: 10px;
    padding-left: 109px;
    padding-right: 109px;
    margin: 0%;
    position: relative;
    left:185px;
    bottom: 708px;
    background-color: green; 
}
